.form-header{
	    font-weight: bold;
    color: cornflowerblue;
    text-transform: uppercase;
    border-bottom: cornflowerblue 1px solid;
    margin: 10px 0px 10px 0px;
}

.require-field{
	font-style: italic;
	color: red;
}

table>thead>tr>th{
    text-align: center;
    vertical-align: middle !important;
}

.loader {
    margin: 10px auto;
    display: block;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  #logo-site{
    display:  -webkit-inline-box;
    display: -moz-inline-box;
    vertical-align: middle;
  }
  #logo-site img{
    width: 40px;
    margin: 6px 8px 6px 5px;
  }
  #logo-site .title-site{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
  }
  #logo-site .min-title{
    margin-top: 9px;
    margin-bottom: 2px;
  }
  #logo-site .max-title{
    margin-top: 3px;
    margin-bottom: 5px;
  }