body.hold-transition.login-page {
    background-image: url('../../img/bgk.jpg');
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
  }
  a{
    font-size: 16px;
    /* font-family: serif; */
  }
  .fix_login{
    padding: 6px;
  }

  .login-box-body img{
      width:60px;
  }