ul#treeActivityCategory{
    padding-inline-start: 0px;
}
ul#treeActivityCategory li{
    list-style-type: none;
    margin-top: 10px;
}
ul#treeActivityCategory span.title-item{
    margin-left: 20px;
}

.text-white{
    color:white;
}

ul#treeActivityCategory .treeview-menu {
    margin-left: 20px;
}

ul#treeActivityCategory .treeview-menu>li>a {
    display: contents; 
}
ul.dropdown-menu li{
    margin-top: 0px !important;
}